{% extends 'base.html' %}

{% block title %}
    Contact Us
{% endblock title %}

{% block content %}

    <a href="{% url 'currency:contactus-create' %}">Create</a><br>
    <form method = "get" >
         {{filter.form.as_p}}
         <button type = "submit">Filter</button >
    </form >
    <table>
        <tr>
            <th>ID</th>
            <th>Emails from</th>
            <th>Subject</th>
            <th>Message</th>
        </tr>

        {% for contact_us in object_list %}
        <tr>
            <td>{{ contact_us.id }}</td>
            <td>{{ contact_us.email_from }}</td>
            <td>{{ contact_us.subject }}</td>
            <td>{{ contact_us.message }}</td>
            <td><a href="{% url 'currency:contactus-update' contact_us.id %}">Edit</a></td>
            <td><a href="{% url 'currency:contactus-details' contact_us.id %}">Details</a></td>
            <td><a href="{% url 'currency:contactus-delete' contact_us.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% include 'includes/pagination.html' %}
{% endblock content %}
