{% extends 'base.html' %}

{% block title %}
    Rates
{% endblock title %}

{% block content %}

{% if request.user.is_superuser or request.user.is_authenticated %}
    <a href="{% url 'currency:rate-create' %}">Create</a><br>
    <form method = "get" >
         {{filter.form.as_p}}
         <button type = "submit">Filter</button >
    </form >
{% else %}

{% endif %}

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            {% if request.user.is_superuser or request.user.is_authenticated %}
                <th scope="col">ID</th>
                <th scope="col">Buy</th>
                <th scope="col">Sell</th>
                <th scope="col">Currency</th>
                <th scope="col">Source</th>
                <th scope="col">Actions</th>
            {% else %}
                <th scope="col">ID</th>
                <th scope="col">Buy</th>
                <th scope="col">Sell</th>
                <th scope="col">Currency</th>
                <th scope="col">Source</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for rate in object_list %}
    <tr>
        <td>{{ rate.id }}</td>
        <td>{{ rate.buy }}</td>
        <td>{{ rate.sell }}</td>
        <td>{{ rate.get_currency_display }}</td>
        <td>{{ rate.source }}</td>

        {% if request.user.is_superuser %}
            <td>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'currency:rate-update' rate.id %}">Edit</a>
                        <a class="dropdown-item" href="{% url 'currency:rate-details' rate.id %}">Details</a>
                        <a class="dropdown-item" href="{% url 'currency:rate-delete' rate.id %}">Delete</a>
                    </div>
                </div>
            </td>
        {% elif request.user.is_authenticated %}
            <td>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'currency:rate-details' rate.id %}">Details</a>
                    </div>
                </div>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'includes/pagination.html' %}
{% endblock content %}
