{% extends 'base.html' %}

{% block title %}
    Rates
{% endblock title %}

{% block content %}

    <a href="{% url 'currency:source-create' %}">Create</a><br>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>

        {% for source in object_list %}
        <tr>
            <td>{{ source.id }}</td>
            <td>{{ source.name }}</td>
            <td><a href="{% url 'currency:source-update' source.id %}">Edit</a></td>
            <td><a href="{% url 'currency:source-details' source.id %}">Details</a></td>
            <td><a href="{% url 'currency:source-delete' source.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
